.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}
form{
  width: 200px;
}
.question_answer{
  margin: 20px 0 0 10px;
}

#button_form {
  margin:10px 0 0 10px ;
}


