<div class="container">
<form id="myForm" action='/' method='post'>
  <div class="question_answer">
    <input type= "text" placeholder="Enter Question" name="questions[][question]"> <button class="add_question">Add Question</button>
    <div class="choices">
      <input type="text" placeholder="Enter Choice" name="questions[]answer[]">
      <button class="add_choice">Add Choice</button>
    </div>
  </div>
  <button id="button_form" type="submit">Submit</button>
</form>
</div>
