
<div class="container">
<h1>Create a survey mofo!!</h1>
<form id="myForm" action='/create_form' method='post'>
  <input type="text" placeholder="surveyname" name="survey_name">
  <ol class="question_set">
    <button class="add_question">Add Question</button>
    <li><input type= "text" placeholder="question" name="questions[][question]"></li>
    <li>
      <ul class="answer_set">
        <button class="add_choice">Add Choice</button>
        <li><input type="text" placeholder="Enter" name="questions[]answer[]"></li>
      </ul>
    </li>
  </ol>

  <button id="button_form" type="submit">Submit</button>
</form>
