<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <div class="container">
    <div class='button_bar'>
      <a class='btn' href='/'>Home</a>
      <% if session[:current_user_id] %>
        <a class='btn' href='/logout'>Logout</a>
        <a class='btn' href='/create_form'>Create New Survey</a>
      <% else %>
        <a class='btn' href='/signup'>Signup</a>
        <a class='btn' href='/login'>Login</a>
      <%end%>
      
    </div>
    <%= yield %>
  </div>
</body>
</html>
