<form action='/login' method='post'>
  Email:<br>
  <input type='email' name='user[email]' autofocus='autofocus'><br>
  Password:<br>
  <input type='password' name='user[password]'><br>
  <input type='submit' value='Login'>
</form>
